<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Thêm mới</h2>
<form th:action="@{/add}" method="post" >
    <h3>Tên người dùng</h3>
    <input name="name" type="text">
    <h3>Số điện thoại người dùng</h3>
    <input name="phoneNumber" type="text">
    <h3>Ngày sình người dùng</h3>
    <input name="birthday" type="date">
    <h3>Giới tính</h3>
    <select name="sex" >
        <option value="true">Nam</option>
        <option value="false">Nữ</option>
    </select>
<button type="submit">gửi</button>
</form>
</body>
</html>